<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785043015012-11nhv4r8ag27feo0dnqhkfs5kmollsaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785043015012-11nhv4r8ag27feo0dnqhkfs5kmollsaj</string>
	<key>API_KEY</key>
	<string>AIzaSyB-zrXN2jQaWXPrX_KxGuGqc828YlJK4_A</string>
	<key>GCM_SENDER_ID</key>
	<string>785043015012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clawcart</string>
	<key>PROJECT_ID</key>
	<string>project-30dd3c12-9d55-4261-bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>project-30dd3c12-9d55-4261-bc5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785043015012:ios:41f6990e24b2380a036671</string>
</dict>
</plist>